<section>
	<header>Change password</header>
	<%= simple_form_for @user, url: :change_password, html: { class: "form-horizontal" }  do |f| %>
  	<fieldset>
			<div class="control-group <%= @old_pswd_class %>">
				<%= label_tag :old_password, "Old password", class: "control-label" %>
				<div class="controls">
					<%= text_field_tag :old_password, "", type: :password %>
					<%= raw @old_pswd_span %>
				</div>
			</div>
			<%= f.input :password, label: "New password", required: false %>
			<%= f.input :password_confirmation, label: "Confirm new password", required: false %>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "Update password", class: "btn btn-success" %>
					<%= link_to "Forgot password", forgot_password_path %>
				</div>
			</div>
		</fieldset>
	<% end %>
</section>
