<% provide(:title, 'Account Settings') %>
<%= render 'shared/mtd_ytd' %>
<%= render 'shared/budget_status' %>
<div class="account">
	<div class="page-header">
		<h1>Account Settings</h1>
	</div>
	<% if @user.provider.nil? %>
		<%= render 'change_email' %>
		<%= render 'change_password' %>
	<% end %>
	<%= render 'delete_account' %>
</div>
