<% provide(:title, 'Contact') %>
<div class="contact">
	<div class="page-header">
		<h1>
			Contact
			<small>... feedback, questions?  Use the form below.</small>
		</h1>
	</div>
	<%= simple_form_for @message, url: contacts_path, html: { class: "form-horizontal" } do |f| %>
		<fieldset>
			<%= f.input :name, required: false %>
			<%= f.input :email %>
			<%= f.input :content, as: :text, required: false %>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "Send", class: "btn btn-success btn-wide" %>
				</div>
			</div>
		</fieldset>
	<% end %>
</div>