<% provide(:title, 'Categories') %>
<div class="categories">
	<div class="page-header">
		<h1>Categories</h1>
	</div>
	<%= form_for @category do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.text_field :name, placeholder: "Enter a new category" %>
		<%= f.submit "Add" %>
	<% end %>
	<% if @categories.any? %>
		<table class="table table-bordered table-striped category-table">
			<tbody>
				<% @categories.each do |category| %>
				<tr>
					<td>
						<%= category.name %>
					</td>
					<td>
						Edit
					</td>
					<td>
						Delete
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div class="well">
			Use this page to create categories for your transactions, for example: Groceries, Gas etc.
		</div>
	<% end %>
</div>