<%= f.input :is_debit, as: :radio_buttons, label: '',
	collection: [[:Expense, 1], [:Income, 0]], checked: @transaction.is_debit ? 1 : 0 %>
<%= f.input :date, as: :string, required: false %>
<% if @transaction.id == nil %>
	<%= f.input :category_name, required: false %>
<% else %>
	<div class="control-group <%= @category_class %>">
		<%= f.label :category %>
		<div class="controls">
			<%= f.collection_select(:category_id, @categories, :id, :name, 
															include_blank: true, selected: @transaction.category_id ) %>
			<%= raw @category_span %>
		</div>
	</div>
<% end %>
<%= f.input :description, required: false %>
<%= f.input :amount, required: false %>
