<% provide(:title, 'Edit Transaction') %>
<div class="transactions">
	<%= render 'shared/mtd_ytd' %>
	<%= render 'shared/budget_status' %>
	<div class="page-header">
		<h1>Edit Transaction</h1>
	</div>
	<%= simple_form_for @transaction, html: { class: "form-horizontal" }  do |f| %>
		<fieldset>
			<%= render 'fields', f: f %>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "Edit transaction", class: "btn btn-primary" %>
				</div>
			</div>
		</fieldset>
		<%= link_to "Cancel and return to transactions", transactions_path %>
	<% end %>
</div>
