<% provide(:title, 'Transactions') %>
<div class="transactions">
	<%= render 'shared/mtd_ytd' %>
	<div class="page-header">
		<h1>Transactions</h1>
	</div>
	<div class="add-trans">
		<%= link_to new_transaction_path, :class => 'btn btn-primary btn-wide' do %>
		  <i class="icon-plus icon-white"></i>&nbsp;
		  <%= t('Add new transaction').html_safe %>
		<% end %>
		<span class="download-transactions">Download all transactions:</span> 
		<%= link_to 'CSV', transactions_path(format: "csv") %> <!-- / 
				<%= link_to 'Excel', '#' %> -->
	</div>
	<% if @transactions.any? %>
		<%= will_paginate renderer: BootstrapPagination::Rails %>
		<table>
			<thead>
				<tr>
					<th><%= sortable "date" %></th>
					<th><%= sortable "category" %></th>
					<th><%= sortable "description" %></th>
					<th><%= sortable "amount" %></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= render @transactions %>
			</tbody>
		</table>
		<%= will_paginate renderer: BootstrapPagination::Rails %>
	<% end %>
</div>