<% provide(:title, 'Transactions') %>
<div class="transactions">
	<%= render 'shared/mtd_ytd' %>
	<%= render 'shared/budget_status' %>
	<div class="page-header">
		<h1>Transactions</h1>
	</div>
	<div class="add-trans">
		<%= link_to new_transaction_path, :class => 'btn btn-primary btn-wide' do %>
		  <i class="icon-plus icon-white"></i>&nbsp;
		  <%= t('Add new transaction').html_safe %>
		<% end %>
	</div>
	<% if @transactions.any? %>
		<span class="top-pager">
			<%= will_paginate renderer: BootstrapPagination::Rails, page_links: false %>
		</span>
		<table>
			<thead>
				<tr>
					<th><%= sortable "date" %></th>
					<th><%= sortable "category" %></th>
					<th><%= sortable "description" %></th>
					<th><%= sortable "amount" %></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= render @transactions %>
			</tbody>
		</table>
		<%= will_paginate renderer: BootstrapPagination::Rails, page_links: false %>
	<% end %>
	<span class="download-transactions">
		<%= link_to 'Download all transactions in CSV format', transactions_path(format: "csv") %>
	</span>
</div>
