<% provide(:title, 'Reports') %>
<div class="reports">
	<%= render 'shared/mtd_ytd' %>
	<div class="page-header">
		<h1>Reports</h1>
	</div>
	<div class="well">
		<%= render 'expense_income_charts' %>
	</div>
	<div class="well">
		<%= render 'overall_income_expense_profit_loss_charts' %>
	</div>
	<div class="well">
		<%= render 'expense_trend_chart' %>
	</div>
	<div class="well">
		<%= render 'income_trend_chart' %>
	</div>
</div>